<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block base %}
 <body>
  <title>Contactez Nous | Fleuriste Casablanca</title>
  <div class="pb-4 text-center">
    <h1 class="pb-5" style="padding-top:154px">Contactez Nous</h1>
  </div>
  <div class="container pb-5" style="padding-right: 0px;">
    <div class="row container" style="padding-left:0px ;padding-top: 0px; padding-right: 0px;">
      <div class="col-sm row py-5 container" style="display: contents;">
        <div class="py-3" style=" margin-left: 4px; background-color: pink;height: 64px;width: 64px; border-radius: 50%;position: relative;">
          <span style="position: absolute; left: 34%;top: 19%; font-size: 27px;">
            <i class="fas fa-map-marker-alt"></i>
          </span>
        </div>
        <div class="col-sm py-2" style="width: 80%;">
          <h3>Adresse</h3>
          <p>RTE 1100 Imm 100</p>
        </div>
      </div>
      <div class="col-sm row py-5 container" style="display: contents;">
        <div class="py-3" style="margin-left: 4px; background-color: pink;height: 64px;width: 64px; border-radius: 50%;position: relative;">
          <span style="position: absolute; left: 34%;top: 19%; font-size: 27px;">
            <i class="fal fa-phone"></i>
          </span>
        </div>
        <div class="col-sm py-2" style="width: 80%;">
          <h3>Téléphone</h3>
          <p>+212 6 80 15 67 16</p>
        </div>
      </div>
      <div class="col-sm row py-5 container" style="display: contents;">
        <div class="py-3" style="margin-left: 4px; background-color: pink;height: 64px;width: 64px; border-radius: 50%;position: relative;">
          <span style="position: absolute; left: 30%;top: 19%; font-size: 27px;">
            <i class="far fa-envelope"></i>
          </span>
        </div>
        <div class="col-sm py-2" style="width: 80%;">
          <h3>Email</h3>
          <p>Businessflowers2@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5" style="width: 100%;">
  <div class="container" >
    <div>
      <h2 class="pb-3">Envoyez un message</h2>
      <form action="{% url 'contact_us'%}" method="post">
        {% csrf_token %}
        <div class="py-3">
        <input type="text" name="name" id="" style=" height: 50px; width: 100%;background-color: #fafafa; border-width: 1px; border-color: #f0f0f0; border-style: solid;text-indent: 10px;" required placeholder="Name">
      </div>
      <div class="py-3">
        <input type="email" name="email" id="" style="height: 50px; width: 100%;background-color: #fafafa; border-width: 1px; border-color: #f0f0f0; border-style: solid;text-indent: 10px;" required placeholder="Email">
      </div>
      <div class="py-3">
        <input type="text" name="subject" id="" style="height: 50px;width: 100%; background-color: #fafafa; border-width: 1px; border-color: #f0f0f0; border-style: solid;text-indent: 10px;" required placeholder="Subject">
      </div>
      <div class="py-3"><textarea name="message" id="" cols="30" rows="10" style="height: 160px;width: 100%; background-color: #fafafa; border-width: 1px; border-color: #f0f0f0; border-style: solid;text-indent: 10px;padding-top: 8px;" required placeholder="Message"></textarea>
      </div>
      <div class="py-3">
        <button type="submit" style="background-color:deeppink;border-radius: 37px;">Envoyer le message</button>
      </div>
    </form>
    </div>
  </div>
</body>
{% endblock base %}
</html>