<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% block base %}
<body>
        <title>{{pro.title}} | Fleuriste Casablanca</title>
        <style>
          .sproduct select{
              display: block;
              padding: 5px 10px;
              margin-bottom: 12px;
            }
            .sproduct input{
              width: 50px;
              height: 40px;
              padding-left: 10px;
              font-size: 16px;
              margin-right: 10px;
            }
            .sproduct input:focus{
              outline: none;
            }
            .buy-btn{
              background: rgb(255, 31, 199);
              opacity: 1;
              transition: 0.3s all;
            }
        </style>
        <section class="container sproduct my-5 pt-5">
          <div class="row mt-5" style="padding-left:10px;">
            <div class="text-center col-lg-3 col-md-4 col-12">
              <img class="img-fluid w-78" src="{{pro.img.url}}" alt="">
            </div>
            <div class="col-lg-6 col-md-12 col-12">
              <h3 class="py-4">{{pro.title}}</h3>
              <h2 style="padding-bottom: 15px;">{{pro.price}} Dhs</h2>
              <form method="POST" action="{% url 'product' pro.id%}">
                {% csrf_token %}
                <button class="buy-btn" type="submit">Ajouter au panier</button>
              </form>
              <h4 class="mt-5 mb-5">détails du produit</h4>
              <span>{{pro.description}}</span>
            </div>
          </div>
        </section>
        <section id="featured" class="my-5 pd-5 sectpro">
          <div class="container text-center mt-5 py-5">
            <h3>Notre Vedette</h3>
            <hr class="mx-auto">
            <p>Nos Bouquets Les Plus Vendus</p>
          </div>
          
          <div class=" row mx-auto container-fluid" style="padding-left: 10px; padding-top: 20px;">
            <a href="#">
              <div class="product text-center col-lg-3 col-md-4 col-12" style="padding-left: 22px;padding-bottom: 40px;">
              <img class="img-fluid mb-3" src="{{pro1.img.url}}" alt="" style="width:250px;height:250px;">
              <div class="star">
                <i class="fas fa-star" id="mm1"></i>
                <i class="fas fa-star" id="mm2"></i>
                <i class="fas fa-star"id="mm3"></i>
                <i class="fas fa-star" id="mm4"></i>
                <i class="fas fa-star" id="mm5"></i>
              </div>
              <h5 class="p-name">{{pro1.title}}</h5>
              <h4 class="price">{{pro1.price}} Dhs</h4>
            </a>
              <button class="buy-btn" id="liste">Ajouter au panier</button>
            </div>
            <div class="product text-center col-lg-3 col-md-4 col-12" style="padding-bottom: 50px;">
              <a href="#">
                <img class="img-fluid mb-3" src="{{pro2.img.url}}" alt="" style="width:250px;height:250px;">
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h5 class="p-name">{{pro2.title}}</h5>
              <h4 class="price">{{pro2.price}} Dhs</h4>
              </a>
              <button class="buy-btn" id="liste">Ajouter au panier</button>
            </div>
            <div class="product text-center col-lg-3 col-md-4 col-12" style="padding-bottom: 50px;">
              <a href="#">
                <img class="img-fluid mb-3" src="{{pro3.img.url}}" alt="" style="width:250px;height:250px;">
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h5 class="p-name">{{pro3.title}}</h5>
              <h4 class="price">{{pro3.price}} Dhs</h4>
              </a>
              <button class="buy-btn" id="liste" >Ajouter au panier</button>
            </div>
            <div class="product text-center col-lg-3 col-md-4 col-12" style="padding-bottom: 8px;">
              <a href="#">
                <img class="img-fluid mb-3" src="{{pro4.img.url}}" alt="" style="width:250px;height:250px;">
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <h5 class="p-name">{{pro4.title}}</h5>
              <h4 class="price">{{pro4.price}} Dhs</h4>
              </a>
              <button class="buy-btn" id="liste">Ajouter au panier</button>
            </div>
          </div>
          
        </section>
</body>
{% endblock base %}
</html>