<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% block base %}

 <body>
  <title>Qui Sommes Nous? | Fleuriste Casablanca</title>
  <div class="container pt-5 text-center">
    <div class="pt-5">
      <h1 class="pt-5">Qui Sommes Nous ?</h1>
      <p style="font-size: 20px;" class="pt-5">Bienvenue à <span style="font-weight: bold;font-size: 22px;">Fleuriste Casablanca</span>, votre source numéro un pour la livraison des bouquets de fleurs à Casablanca.</p>
      <p class="pt-3" style="font-size: 20px;">Nous nous engageons à vous fournir la meilleure qualité des bouquets, en mettant l’accent sur la fiabilité, service à la clientèle et la satisfaction de nos clients.</p>
      <p class="pt-3 pb-5" style="font-size: 20px;">Nous travaillons pour transformer notre passion pour les fleurs et faire les gens sourire en une boutique en ligne en plein essor. Nous espérons que vous apprécierez nos produits autant que nous aimons vous les offrir.</p>
    </div>
    <div class="pt-5">
      <h1 class="pt-5">Notre Entreprise</h1>
      <p style="font-size: 20px;" class="pt-5">Fondée en 2019, Fleuriste Casablanca a parcouru un long chemin depuis ses débuts lorsque notre équipe a commencé sa passion pour la création des bouquets et des arrangements floraux les a poussés à faire des tonnes de recherches et de travailles pour que Fleuriste Casablanca puisse vous proposer une variété de compositions de fleurs. Nous servons maintenant des clients partout à Casablanca et Mohammedia (bientôt toutes les grandes villes au Maroc) et nous sommes ravis de pouvoir transformer notre passion en notre propre site Web.</p>
      <p class="pt-3 pb-5" style="font-size: 20px;">N’hésitez pas à commander votre bouquet pour faire plaisir à vos bien aimés</p>
    </div>
  </div>
</body>
{% endblock base %}
</html>