{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" 
  content="Fleuriste Casablanca. Bouquets de Fleurs Casablanca. Businessflowers livraison fleurs casablanca fleuriste casablanca bouquet de fleurs casablanca.">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
  crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
  crossorigin="anonymous"/>
  <link rel="stylesheet" href="{% static 'css/businessflower.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'icon.png'%}" />
</head>



<a href="https://wa.me/message/L7RIR3XQOTFZF1" target="_blank">
  <i class="fab fa-whatsapp fa-5x" style="position: fixed;right:0;bottom: 0;background:linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat,radial-gradient(#25d366 58%,transparent 0);font-size: 73px;color: white;border-radius: 60px;bottom: 16px;right: 18px;z-index: 1000;"></i>
</a>



{% include 'nav.html' %}
{% block base %}
{% endblock base %}
{% include 'footer.html' %}
<script type="text/javascript">

  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
 
 
  function uuidv4() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
      return v.toString(16);
    });
  }
 
 
 
 
  let device = getCookie('device')
 
  if (device == null || device == undefined){
   device = uuidv4()
  }
 
  document.cookie ='device=' + device + ";domain=;path=/"
 
 </script>
<!--<script src="{% static 'main.js' %}"></script>-->